<!-- <h1> Classe : {{txtClass}}</h1>
<p>Liste des étudiants portant des lunettes</p>

@if (is_isi4) {
    <ol>
        @for(item of list_students; track $index){
        <li>{{item.nom}}
            <a href="details-student/:{{item.matricule}}">Details</a>
        </li> 
    }
    </ol>
}@else {
    <h2 style="color: red; font-weight: bold;">Je ne suis pas en ISI 4</h2>
}

<p>Etudiants mineurs</p>
<ul>
    @for(item of list_students; track $index){
        <li>{{item.nom}}
            <button (click)="getStu(item)">Details</button>
        </li> 
    
    }
        
</ul> -->
<h3 class="text-3xl p-4x bg-gray-200">Liste des etudiants</h3>
@for (item of etudiantsList; track $index) {
    <app-student [etu]="item"></app-student>
}
